@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1112px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

/*!
 * baguetteBox.js
 * @author  feimosi
 * @version %%INJECT_VERSION%%
 * @url https://github.com/feimosi/baguetteBox.js
 */
#baguetteBox-overlay {
  display: none;
  opacity: 0;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

#baguetteBox-overlay.visible {
  opacity: 1;
}

#baguetteBox-overlay .full-image {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

#baguetteBox-overlay .full-image figure {
  display: inline;
  margin: 0;
  height: 100%;
}

#baguetteBox-overlay .full-image img {
  display: inline-block;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

#baguetteBox-overlay .full-image figcaption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 1.8;
  white-space: normal;
  color: #ccc;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: sans-serif;
}

#baguetteBox-overlay .full-image:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}

#baguetteBox-slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  -webkit-transition: left .4s ease, -webkit-transform .4s ease;
  transition: left .4s ease, -webkit-transform .4s ease;
  transition: left .4s ease, transform .4s ease;
  transition: left .4s ease, transform .4s ease, -webkit-transform .4s ease;
}

#baguetteBox-slider.bounce-from-right {
  -webkit-animation: bounceFromRight .4s ease-out;
          animation: bounceFromRight .4s ease-out;
}

#baguetteBox-slider.bounce-from-left {
  -webkit-animation: bounceFromLeft .4s ease-out;
          animation: bounceFromLeft .4s ease-out;
}

@-webkit-keyframes bounceFromRight {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes bounceFromRight {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0;
  }
}

@-webkit-keyframes bounceFromLeft {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes bounceFromLeft {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0;
  }
}

.baguetteBox-button#next-button, .baguetteBox-button#previous-button {
  top: 50%;
  top: calc(50% - 30px);
  width: 44px;
  height: 60px;
}

.baguetteBox-button {
  position: absolute;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 15%;
  background-color: #323232;
  background-color: rgba(50, 50, 50, 0.5);
  color: #ddd;
  font: 1.6em sans-serif;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

.baguetteBox-button:focus, .baguetteBox-button:hover {
  background-color: rgba(50, 50, 50, 0.9);
}

.baguetteBox-button#next-button {
  right: 2%;
}

.baguetteBox-button#previous-button {
  left: 2%;
}

.baguetteBox-button#close-button {
  top: 20px;
  right: 2%;
  right: calc(2% + 6px);
  width: 30px;
  height: 30px;
}

.baguetteBox-button svg {
  position: absolute;
  left: 0;
  top: 0;
}

/*
    Preloader
    Borrowed from http://tobiasahlin.com/spinkit/
*/
.baguetteBox-spinner {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.baguetteBox-double-bounce1,
.baguetteBox-double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
          animation: bounce 2s infinite ease-in-out;
}

.baguetteBox-double-bounce2 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.mainblock {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 50px 0;
  height: 100%;
}

.fullpage {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.fullpage-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100%;
}

.fullpage-text {
  color: #ffffff;
  position: relative;
  padding: 0px 0px 45px 0px;
  margin: 30px 0;
}

.fullpage-text:after {
  content: "";
  width: 105px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin: 0px 0px 0px -52.5px;
}

.fullpage-text_title {
  line-height: 1.18;
  letter-spacing: 5.44px;
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
}

@media (max-width: 479.98px) {
  .fullpage-text_title {
    font-size: 25px;
  }
}

.fullpage-text_subtitle {
  font-size: 26px;
  letter-spacing: 4.16px;
  font-weight: 400;
}

@media (max-width: 479.98px) {
  .fullpage-text_subtitle {
    font-size: 20px;
  }
}

.fullpage-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fullpage-bot__btn {
  margin-bottom: 75px;
}

.btn {
  display: inline-block;
  padding: 12px 42px;
  font-size: 15.5px;
  letter-spacing: 0.93px;
  text-transform: uppercase;
  line-height: 1.2em;
  border: 1px solid #000;
  color: #000;
}

.btn_w {
  border: 1px solid #fff;
  color: #fff;
}

.mainblock-img {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.content {
  background-color: #fff;
  position: relative;
  z-index: 50;
}

.menu {
  border-bottom: 1px solid #868585;
  padding: 22px 0;
  margin: 0px 0px 130px 0px;
}

@media (max-width: 992.98px) {
  .menu {
    margin: 0px 0px 50px 0px;
  }
}

@media (max-width: 767.98px) {
  .menu {
    margin: 0px 0px 30px 0px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 479.98px) {
  .menu__list {
    display: block;
    text-align: center;
  }
}

.menu_link {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2;
  color: #3c3c3c;
}

.menu_link:hover {
  color: #ada074;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__list li {
  margin: 0px 25px;
}

@media (max-width: 767.98px) {
  .menu__list li {
    margin: 0px 15px 10px 0px;
  }
}

@media (max-width: 479.98px) {
  .menu__list li {
    margin: 0px 10px 15px 0px;
  }
}

.menu__active {
  color: #ada074;
}

.about {
  padding: 0px 0px 60px 0px;
}

@media (max-width: 767.98px) {
  .about {
    padding: 0px 0px 30px 0px;
  }
}

.about__body {
  max-width: 820px;
  margin: 0 auto;
}

.about_bot {
  padding: 69px 0px 0px 0px;
}

@media (max-width: 767.98px) {
  .about_bot {
    padding: 40px 0px 0px 0px;
  }
}

.about__title {
  position: relative;
  padding: 0px 0px 33px 0px;
}

.title-main {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #000000;
  text-align: center;
}

.title-main:after {
  content: "";
  width: 81px;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin: 0px 0px 0px -40.5px;
}

.about__text {
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #868585;
  padding: 40px 0px 0px 0px;
  text-align: center;
}

@media (max-width: 767.98px) {
  .about__text {
    padding: 30px 0px 0px 0px;
  }
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

@media (max-width: 767.98px) {
  .about__row {
    display: block;
  }
}

.about-row__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0px 0px 30px 0px;
  padding: 0px 15px;
}

.column__img {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 1px solid #868585;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 40px 0px;
}

.column__img__left img {
  position: relative;
  left: 5px;
}

@media (max-width: 767.98px) {
  .column__img {
    margin: 0px 0px 20px 0px;
  }
}

.column__title {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.16em;
  color: #000000;
  margin: 0px 0px 33px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 767.98px) {
  .column__title {
    margin: 0px 0px 15px 0px;
  }
}

.column__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #868585;
}

.portfolio {
  background-color: #f3f3f3;
  padding: 105px 0px 60px 0px;
}

@media (max-width: 992.98px) {
  .portfolio {
    padding: 50px 0px 40px 0px;
  }
}

.portfolio__title {
  position: relative;
  padding: 0px 0px 39px 0px;
}

@media (max-width: 992.98px) {
  .portfolio__title {
    padding: 0px 0px 20px 0px;
  }
}

.portfolio__filter {
  padding: 50px 0px 0px 0px;
  margin: 0px 0px 136px 0px;
}

@media (max-width: 992.98px) {
  .portfolio__filter {
    margin: 0px 0px 50px 0px;
    padding: 30px 0px 0px 0px;
  }
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__list li {
  padding: 0px 50px 0px 0px;
}

.portfolio__list li:last-child {
  padding: 0;
}

@media (max-width: 767.98px) {
  .portfolio__list li {
    padding: 0px 25px 0px 0px;
  }
  .portfolio__list li:last-child {
    padding: 0;
  }
}

.portfolio__list__item {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  color: #3c3c3c;
  cursor: pointer;
}

.portfolio__list__item.active {
  color: #ada074;
}

.portfolio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
}

@media (max-width: 767.98px) {
  .portfolio__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 20px 0px;
  }
}

.column__item img {
  max-width: 100%;
}

.portfolio__footer {
  text-align: center;
  padding: 35px 0px 0px 0px;
}

@media (max-width: 767.98px) {
  .portfolio__footer {
    padding: 15px 0px 0px 0px;
  }
}

.partners {
  background: url("../img/2.jpg") center/cover no-repeat;
  padding: 100px 0 73px 0px;
}

@media (max-width: 767.98px) {
  .partners {
    padding: 50px 0px 30px 0px;
  }
}

.partners__title {
  font-size: 30.4px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 0px 0px 93px 0px;
  text-align: center;
}

@media (max-width: 767.98px) {
  .partners__title {
    padding: 0px 0px 50px 0px;
  }
}

.partners__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__icon__item {
  padding: 0px 110px 0px 0px;
}

.partners__icon__item:last-child {
  padding: 0;
}

@media (max-width: 767.98px) {
  .partners__icon__item {
    padding: 0px 60px 30px 0px;
  }
  .partners__icon__item:last-child {
    padding: 0 0 30px 0;
  }
}

.contact {
  padding: 180px 0px 60px 0px;
}

@media (max-width: 992.98px) {
  .contact {
    padding: 100px 0px 30px 0px;
  }
}

@media (max-width: 767.98px) {
  .contact {
    padding: 50px 0px 20px 0px;
  }
}

.contact__top__title {
  position: relative;
  padding: 0px 0px 46px 0px;
  margin: 0px 0px 120px 0px;
}

@media (max-width: 992.98px) {
  .contact__top__title {
    margin: 0px 0px 70px 0px;
    padding: 0px 0px 36px 0px;
  }
}

@media (max-width: 767.98px) {
  .contact__top__title {
    margin: 0px 0px 30px 0px;
  }
}

.contact__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767.98px) {
  .contact__bot {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contact__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 50px 0px 0px;
}

.contact__column:last-child {
  margin: 0;
}

@media (max-width: 767.98px) {
  .contact__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 50px 0px;
  }
}

.contact__form {
  text-align: right;
}

@media (max-width: 767.98px) {
  .contact__form {
    text-align: center;
  }
}

.form__body {
  display: inline-block;
  max-width: 385px;
  width: 100%;
}

.form_input_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px 70px -15px;
}

@media (max-width: 767.98px) {
  .form_input_body {
    margin: 0 -15px 30px -15px;
    display: block;
  }
}

.form__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
}

@media (max-width: 767.98px) {
  .form__input:first-child {
    margin: 0px 0px 20px 0px;
  }
}

.input-title {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
  padding: 0px 0px 15px 0px;
  text-align: left;
}

.input {
  font-size: 15px;
  background-color: #f8f7f7;
  height: 35px;
  display: block;
  width: 100%;
  border-top: 1px solid #000;
  padding: 0px 20px;
}

.input:focus {
  border-top: 2px solid green;
}

.input.err {
  border-top: 2px solid red;
}

textarea.input {
  resize: none;
  height: 118px;
  padding: 10px 20px;
}

.form__textarea {
  padding: 0px 0px 42px 0px;
}

.textarea__title {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
  text-align: left;
  padding: 0px 0px 15px 0px;
}

.form__btn {
  display: inline-block;
  padding: 0px 32px;
  height: 37px;
  font-size: 15.5px;
  letter-spacing: 0.93px;
  text-transform: uppercase;
  line-height: 1.2em;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
}

@media (max-width: 767.98px) {
  .form__btn {
    display: block;
    width: 100%;
  }
}

.colomn__info {
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #000000;
  padding: 0px 0px 40px 0px;
}

@media (max-width: 767.98px) {
  .colomn__info {
    text-align: center;
  }
}

.info__text {
  padding: 0px 0px 40px 0px;
  max-width: 250px;
}

@media (max-width: 767.98px) {
  .info__text {
    max-width: none;
  }
}

.info__name {
  font-weight: 700;
}

.info_icon {
  padding: 20px 0px;
}

.info__mail {
  font-weight: 300;
}

.info__mail a {
  font-weight: 700;
  color: #000;
}

.footer {
  background-color: #3c3c3c;
}

.footer_logo {
  text-align: center;
}

.footer__item {
  padding: 50px 0;
}

.footer_list {
  text-align: center;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__link li {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #a4a4a4;
  margin-right: 25px;
}

.footer__link li:last-child {
  margin: 0;
}

.footer__text {
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #6c6c6c;
}

.project-name-body {
  max-width: 1250px;
  margin: 0 auto;
}

.name-body {
  border-bottom: 1px solid #3c3c3c;
  padding: 20px 0px 20px 0px;
  margin: 0px 0px 100px 0px;
}

@media (max-width: 1250px) {
  .name-body {
    margin: 0px 0px 50px 0px;
  }
}

.name_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.name_link li {
  margin: 0px 50px 0px 0px;
}

.name_link li:last-child {
  margin: 0;
}

@media (max-width: 767.98px) {
  .name_link li {
    margin: 0px 20px 0px 0px;
  }
  .name_link li:last-child {
    margin: 0;
  }
}

.btn__link {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  color: #3c3c3c;
}

.active {
  color: #ada074;
}

.project-name {
  margin: 0px 20px;
}

.project-name__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 30px 0px;
}

@media (max-width: 1250px) {
  .project-name__column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.project-name__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 15px 0px 0px;
}

@media (max-width: 1250px) {
  .project-name__img {
    text-align: center;
    margin: 0;
  }
}

.project-name__img img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1250px) {
  .project-name__item-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 1250px) {
  .project-name__item {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.name-item {
  background-color: #f2f2f2;
  padding: 50px 50px 40px 37px;
  max-width: 421px;
  max-height: 543px;
}

@media (max-width: 1250px) {
  .name-item {
    max-width: 814px;
    max-height: none;
    text-align: center;
    margin: 0px 0px 10px 0px;
  }
}

@media (max-width: 767.98px) {
  .name-item {
    padding: 30px 30px 30px 30px;
  }
}

.name-item__title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #000000;
  padding: 0px 0px 30px 0px;
}

@media (max-width: 767.98px) {
  .name-item__title {
    padding: 0px 0px 10px 0px;
  }
}

.name-item__text {
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #595757;
  padding-bottom: 45px;
}

.name-item__text p:first-child {
  padding-bottom: 40px;
}

@media (max-width: 767.98px) {
  .name-item__text {
    padding: 0px 0px 20px 0px;
  }
  .name-item__text p:first-child {
    padding-bottom: 10px;
  }
}

.name-item__btn {
  display: inline-block;
  border: 1px solid #000;
  padding: 15px 50px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #242424;
}
